<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-sm navbar-dark mb-5" style="background-color: darkblue;">
        <a class="navbar-brand mr-5"><b>Project Manager App</b></a>
        <ul class="nav nav-tabs">
            <li role="presentation" routerLinkActive="active">
                <a class="nav-link text-white mr-4" routerLink="/users">Add User</a>
            </li>
            <li role="presentation" routerLinkActive="active">
                <a class="nav-link text-white mr-4" routerLink="/projects">Add Project</a>
            </li>
            <li role="presentation" routerLinkActive="active">
                <a class="nav-link text-white mr-4" routerLink="/addTask">Add Task</a>
            </li>
            <li role="presentation" routerLinkActive="active">
                <a class="nav-link text-white" routerLink="/tasks">View Task</a>
            </li>
        </ul>
    </nav>
</div>